*,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Special Elite', cursive;
}

.container {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-image: url("side-bar-image.jpg");
    background-size: cover;
    background-position: center;
    padding-right: 1em;
}

div[data-title="page-title"] {
    font-size: 1.6em;
    margin-left: .6em;
    margin-top: .8em;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    flex-grow: 2;
    background-color: white;
}

.btn.btn-add {
    margin: 1em;
}

button[data-btn="add"] {
    font-size: .7rem;
    padding: .5em 1em;
    background-color: rgb(214, 10, 10);
    color: white;
    border-radius: .4em;
    border: none;
    font-family: 'Special Elite', cursive;
    align-self: flex-start;
    cursor: pointer;
}

button[data-btn="add"]:hover,
button[data-btn="add"]:focus {
    box-shadow: 0 0 10px rgb(214, 10, 10);
}

.library {
    flex-grow: 2;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.card {
    border: 1px solid #eee;
    background-color: cornsilk;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .1);
    border-radius: .4em;
    padding: 16px;
    margin: 16px;
    font-size: 0.6em;
}

.card>div {
    margin: .4em
}

div[data-book-btns]>button,
#form-btn {
    font-size: 0.5em;
    margin: .5em .4em;
    font-family: 'Special Elite', cursive;
    background-color: rgb(211, 140, 10);
    color: white;
    border-radius: .4em;
    border: none;
    padding: .6em 1em;
    cursor: pointer;
}

div[data-book-btns]>button:hover,
#form-btn:hover div[data-book-btns]>button:focus,
#form-btn:focus {
    box-shadow: 0 0 10px rgb(211, 140, 10);
}

#form-btn {
    width: 10em;
    align-self: center;
    margin-top: 3em;
    cursor: pointer;
}

#form-close-btn {
    font-family: 'Special Elite', cursive;
    font-size: 0.2em;
    border: none;
    border-radius: 50%;
    align-self: flex-end;
    background: #eee;
    color: rgb(59, 57, 57);
    height: 20px;
    width: 20px;
    cursor: pointer;
}

#form-close-btn:focus,
#form-close-btn:hover {
    box-shadow: 0 0 10px rgb(59, 57, 57);
    ;
}

#form-container {
    display: none;
    position: absolute;
    width: 25%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #eee;
    background-color: cornsilk;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .1);
    border-radius: .4em;
    padding: 16px;
    margin: 16px;
    font-size: 0.6em;
    z-index: 2;
}

#new-book-form {
    display: flex;
    flex-direction: column;
    font-size: 0.6em;
    font-family: 'Special Elite', cursive;
}

label {
    margin-top: 1.2em
}

input {
    padding: 1.5em;
    font-size: 0.7em;
    font-family: 'Special Elite', cursive;
    border: grey;
    border-style: solid;
    border-width: thin;
    outline: grey;
}

input:focus,
input:hover,
#notes:hover,
#notes:focus {
    border-color: rgb(41, 33, 33);
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .1);
    outline: grey;
}

#notes {
    resize: none;
    outline: grey;
    font-size: 0.7em;
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
    z-index: 1;
}

#form-container.open,
#overlay.open {
    display: block;
}

div[data-notes] {
    width: 90%;
    height: 20%;
    background-color: rgba(168, 161, 161, 0.87);
}

input[type=checkbox] {
    width: 0;
    height: 0;
    opacity: 0;
}

div[data-form-status] {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

div[data-libary-status] {
    font-size: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.switch+label[data-label-switch] {
    display: block;
    width: 3em;
    height: 1em;
    background-color: hsl(0, 0%, 50%);
    border-radius: .5em;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    box-shadow: 0 0 5px hsl(0, 0%, 50%);
    margin: 0
}

.switch+label[data-label-switch]::after {
    content: "";
    display: block;
    top: .1em;
    left: .15em;
    width: .8em;
    height: .8em;
    background-color: white;
    border-radius: .5em;
    cursor: pointer;
    position: absolute;
    transition: 0.5s;
}

.switch:checked+label[data-label-switch]::after {
    transform: translate(230%);
}

.switch:checked+label[data-label-switch] {
    background-color: rgb(211, 140, 10);
    box-shadow: 0 0 10px rgb(211, 140, 10);
}