*,
*::after {
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100vw;
    background-size: cover;
    margin: 0;
    display: flex;
    flex-direction: column;
    font-family: 'Special Elite', cursive;
}

.container {
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-image: url("side-bar-image.jpg");
    background-size: cover;
    background-position: center;
    padding-right: 1em;
}

div[data-title="page-title"] {
    font-size: 2em;
    font-weight: bold;
    margin-left: .6em;
    margin-top: 2em;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    flex-grow: 2;
    background-color: hsl(240, 10%, 95%);
}

.btn.btn-add {
    margin: 1em;
    align-self: flex-end;
}

button[data-btn="add"] {
    font-size: 1rem;
    padding: 1em 1em;
    background-color: rgb(214, 10, 10);
    color: white;
    border-radius: .4em;
    border: none;
    font-family: 'Special Elite', cursive;
    cursor: pointer;
}

button[data-btn="add"]:hover,
button[data-btn="add"]:focus {
    box-shadow: 0 0 10px rgb(214, 10, 10);
    transform: scale(1.1);
}

.library {
    flex-grow: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

.card {
    border: 1px solid #eee;
    background-color: cornsilk;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .1);
    border-radius: .4em;
    padding: 1em;
    margin: 1em;
    font-size: .8em;
}

.card>div {
    margin: .4em
}

div[data-book-btns]>button,
#form-btn {
    font-size: 1em;
    margin: .5em .4em;
    font-family: 'Special Elite', cursive;
    background-color: rgb(211, 140, 10);
    color: white;
    border-radius: .4em;
    border: none;
    padding: .8em 1em;
    cursor: pointer;
}

#form-btn {
    align-self: flex-end;
}

div[data-book-btns]>button:hover,
#form-btn:hover div[data-book-btns]>button:focus,
#form-btn:focus,
#form-btn:hover {
    box-shadow: 0 0 10px rgb(211, 140, 10);
    transform: scale(1.1);
}

#form-btn {
    width: 10em;
    align-self: center;
    margin-top: 3em;
    cursor: pointer;
}

div[data-book-btns] button:disabled,
div[data-book-btns] button:disabled:hover {
    opacity: 0.3;
    cursor: not-allowed;
    box-shadow: none;
}

.switch-book-disabled,
.switch-book-disabled:hover {
    opacity: 0.3;
    pointer-events: none;
    box-shadow: none;
}

#form-close-btn {
    font-family: 'Special Elite', cursive;
    font-size: 1rem;
    padding: .3em .5em;
    text-align: center;
    border: none;
    border-radius: 50%;
    margin-right: .5rem;
    margin-top: .5rem;
    align-self: flex-end;
    background-color: rgb(211, 140, 10);
    color: white;
    height: 1.4rem;
    width: 1.5rem;
    cursor: pointer;
}

#form-close-btn:focus,
#form-close-btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0 10px rgb(211, 140, 10);
}

#form-container {
    display: none;
    position: absolute;
    width: 40%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #eee;
    background-color: cornsilk;
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .1);
    border-radius: .4em;
    padding: 1em;
    margin: 1em;
    font-size: 1.7rem;
    z-index: 2;
}

#new-book-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 90%;
    font-size: 1rem;
    font-family: 'Special Elite', cursive;
    overflow-y: auto;
}

label {
    margin-top: 1.2em
}

input {
    padding: 1.5em;
    font-size: 1rem;
    font-family: 'Special Elite', cursive;
    border: grey;
    border-style: solid;
    border-width: thin;
    outline: grey;
}

input:focus,
input:hover,
#notes:hover,
#notes:focus {
    border-color: rgb(41, 33, 33);
    box-shadow: 2px 4px 16px rgba(0, 0, 0, .1);
    outline: grey;
}

#notes {
    resize: none;
    outline: grey;
    font-size: 0.7em;
}

#overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .75);
    z-index: 1;
}

#form-container.open,
#overlay.open {
    display: block;
}

input[type=checkbox] {
    width: 0;
    height: 0;
    opacity: 0;
}

div[data-form-status] {
    font-size: 2em;
    margin-top: 0;
    margin-bottom: 0;
}

div[data-libary-status] {
    font-size: 1.2em;
    margin-top: 0;
    margin-bottom: 0;
}

.switch+label[data-label-switch] {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 1.1em;
    background-color: hsl(0, 0%, 50%);
    border-radius: .5em;
    cursor: pointer;
    position: relative;
    transition: 0.5s;
    box-shadow: 0 0 5px hsl(0, 0%, 50%);
    margin: 0
}

.switch+label[data-label-switch]::before {
    content: "";
    position: relative;
    left: -10%;
    width: .8em;
    height: .8em;
    background-color: white;
    border-radius: 50%;
    cursor: pointer;
    transition: opacity 0.5s ease-in-out;
}

.switch+label[data-label-switch]::after {
    content: "unread";
    font-size: .6em;
}

.switch:checked+label[data-label-switch]::before {
    transform: translate(230%);
}

.switch:checked+label[data-label-switch]::after {
    content: "read";
    position: absolute;
    left: 10%;
}

.switch:checked+label[data-label-switch] {
    background-color: rgb(211, 140, 10);
    box-shadow: 0 0 10px rgb(211, 140, 10);
}

.errors {
    display: none;
}

.errors.show {
    display: block;
}

.errors {
    background-color: hsl(0, 100%, 80%);
    border-radius: .5rem;
    padding: 10px;
    color: hsl(0, 50%, 20%);
    margin-bottom: .8rem;
    margin-top: 1rem;
}

.error-title {
    margin: 0;
    margin-bottom: .5rem;
}

.errors-list {
    margin: 0;
    padding-left: 15px;
}

div[data-title] {
    font-weight: bold;
    font-size: 1.2em;
}